---
layout: default
---

{% assign page_path = page.id | downcase %}

{% for term in site.data.notes %}
  {% for cur_note in term.notes %}
    {% assign cur_note_path = "/notes/" | append: cur_note.path | downcase %}

    {% if cur_note_path == page_path %}
      {% assign note = cur_note %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class = "header">
  <a href="/">Home</a>
  <a href="https://drive.google.com/uc?id={{note.drive_id}}&export=download&confirm=STAK" target="_blank">Download</a>
</div>

<div class="note">
  <iframe class="fill" src="https://drive.google.com/file/d/{{note.drive_id}}/preview"></iframe>
</div>
